<a href="https://colab.research.google.com/github/VinishaShukla/PDS_Assignment/blob/main/Assignment-2/src/Assignment_2_Cars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd

# Read the dataset
df_automobiles = pd.read_csv('/Users/vinishashukla/Documents/PDS/PDS_Assignment/PDS_Assignment/Assignment-2/raw_data/train.csv')
df_automobiles

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [13]:
# Checking for missing values in the entire dataset
missing_vals = df_automobiles.isnull().sum()

# Display the number of missing values for columns with numeric datatype
print(missing_vals)

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [14]:
# Identify and count missing values in columns that have character datatype
missing_vals_char = df_automobiles.select_dtypes(include=['object']).isnull().sum()

# Display the number of missing values in columns that have character datatype
print(missing_vals_char)

Name               0
Location           0
Fuel_Type          0
Transmission       0
Owner_Type         0
Mileage            2
Engine            36
Power             36
New_Price       5032
dtype: int64

In [15]:
# Remove the units from some of the attributes and only keep the numerical values
df_automobiles['Mileage'] = df_automobiles['Mileage'].str.replace('[^0-9.]', '', regex=True).astype(float)
df_automobiles['Engine'] = df_automobiles['Engine'].str.replace('[^0-9.]', '', regex=True).astype(float)
df_automobiles['Power'] = df_automobiles['Power'].str.replace('[^0-9.]', '', regex=True).astype(float)
df_automobiles['New_Price'] = df_automobiles['New_Price'].str.replace('[^0-9.]', '', regex=True).astype(float)

# Print the summary of the data
print(df_automobiles.describe())

        Unnamed: 0         Year  Kilometers_Driven      Mileage       Engine  \
count  5847.000000  5847.000000       5.847000e+03  5845.000000  5811.000000
mean   3013.181461  2013.448435       5.841013e+04    18.158496  1631.552573
std    1736.398890     3.194949       9.237971e+04     4.358246   601.972587
min       1.000000  1998.000000       1.710000e+02     0.000000    72.000000
25%    1509.500000  2012.000000       3.346750e+04    15.260000  1198.000000
50%    3015.000000  2014.000000       5.257600e+04    18.190000  1497.000000
75%    4517.500000  2016.000000       7.249050e+04    21.100000  1991.000000
max    6018.000000  2019.000000       6.500000e+06    28.400000  5998.000000

             Power        Seats   New_Price        Price
count  5811.000000  5809.000000  815.000000  5847.000000
mean    113.803144     5.286452   20.484564     9.653742
std      53.896719     0.806668   20.248764    11.275966
min      34.200000     2.000000    1.000000     0.440000
25%      78.000000     5.000000    7.880000     3.550000
50%      98.600000     5.000000   11.480000     5.750000
75%     139.010000     5.000000   24.015000    10.250000
max     560.000000    10.000000   99.920000   160.000000

In [16]:
# Drop the first column which is just a row number
df_automobiles = df_automobiles.iloc[:, 1:]

# Drop the "New_Price" column because it has more than 50% missing values
df_automobiles = df_automobiles.drop('New_Price', axis=1)

# Impute missing values with the mean for numeric columns
df_automobiles.fillna(df_automobiles.mean(), inplace=True)

# Round all numeric values to two decimal places
numeric_columns = df_automobiles.select_dtypes(include=['float64', 'int64']).columns
df_automobiles[numeric_columns] = df_automobiles[numeric_columns].round(2)

# Impute missing values with the mode for character columns
df_automobiles.fillna(df_automobiles.mode().iloc[0], inplace=True)

# Verify that missing values have been correctly imputed
missing_vals_handled = df_automobiles.isnull().sum()
print(missing_vals_handled)

Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

<ipython-input-16-0ce23b57a77a>:8: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_automobiles.fillna(df_automobiles.mean(), inplace=True)

In [17]:
# Write the cleaned data to a new file
df_automobiles.to_csv('/Users/vinishashukla/Documents/PDS/PDS_Assignment/PDS_Assignment/Assignment-2/clean_data/clean_cars_data.csv', index=False)

In [19]:
# Load the cleaned dataset
df = pd.read_csv('/Users/vinishashukla/Documents/PDS/PDS_Assignment/PDS_Assignment/Assignment-2/clean_data/clean_cars_data.csv')

In [20]:
# Perform one-hot encoding within the same columns
df[['Fuel_Type', 'Transmission']] = df[['Fuel_Type', 'Transmission']].apply(lambda x: (x == "Petrol").astype(int) | (x == "Manual").astype(int))
# View the dataset with one-hot encoded values
print(df.head())

                               Name    Location  Year  Kilometers_Driven  \
0  Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
1                      Honda Jazz V     Chennai  2011              46000
2                 Maruti Ertiga VDI     Chennai  2012              87000
3   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670
4            Nissan Micra Diesel XV      Jaipur  2013              86999

   Fuel_Type  Transmission Owner_Type  Mileage  Engine   Power  Seats  Price
0          0             1      First    19.67  1582.0  126.20    5.0  12.50
1          1             1      First    13.00  1199.0   88.70    5.0   4.50
2          0             1      First    20.77  1248.0   88.76    7.0   6.00
3          0             0     Second    15.20  1968.0  140.80    5.0  17.74
4          0             1      First    23.08  1461.0   63.10    5.0   3.50

In [21]:
# Write the data with one-hot encoded values to a new file
df.to_csv('/Users/vinishashukla/Documents/PDS/PDS_Assignment/PDS_Assignment/Assignment-2/results/results_cars_encoded.csv', index=False)

In [22]:
#Load the encoded results csv
df_automobiles = pd.read_csv('/Users/vinishashukla/Documents/PDS/PDS_Assignment/PDS_Assignment/Assignment-2/results/results_cars_encoded.csv')
df_automobiles['Current_Age'] = pd.to_datetime('today').year - df_automobiles['Year']
df_automobiles

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Current_Age
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,1,First,19.67,1582.0,126.20,5.0,12.50,9
1,Honda Jazz V,Chennai,2011,46000,1,1,First,13.00,1199.0,88.70,5.0,4.50,13
2,Maruti Ertiga VDI,Chennai,2012,87000,0,1,First,20.77,1248.0,88.76,7.0,6.00,12
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,0,Second,15.20,1968.0,140.80,5.0,17.74,11
4,Nissan Micra Diesel XV,Jaipur,2013,86999,0,1,First,23.08,1461.0,63.10,5.0,3.50,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,Maruti Swift VDI,Delhi,2014,27365,0,1,First,28.40,1248.0,74.00,5.0,4.75,10
5843,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,0,1,First,24.40,1120.0,71.00,5.0,4.00,9
5844,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,0,1,Second,14.00,2498.0,112.00,8.0,2.90,12
5845,Maruti Wagon R VXI,Kolkata,2013,46000,1,1,First,18.90,998.0,67.10,5.0,2.65,11
5846,Chevrolet Beat Diesel,Hyderabad,2011,47000,0,1,First,25.44,936.0,57.60,5.0,2.50,13

In [27]:
# Write the data of cars age to a new file
df_automobiles.to_csv('/Users/vinishashukla/Documents/PDS/PDS_Assignment/PDS_Assignment/Assignment-2/results/cars_current_age.csv', index=False)
df_automobiles

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Current_Age
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,1,First,19.67,1582.0,126.20,5.0,12.50,9
1,Honda Jazz V,Chennai,2011,46000,1,1,First,13.00,1199.0,88.70,5.0,4.50,13
2,Maruti Ertiga VDI,Chennai,2012,87000,0,1,First,20.77,1248.0,88.76,7.0,6.00,12
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,0,Second,15.20,1968.0,140.80,5.0,17.74,11
4,Nissan Micra Diesel XV,Jaipur,2013,86999,0,1,First,23.08,1461.0,63.10,5.0,3.50,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,Maruti Swift VDI,Delhi,2014,27365,0,1,First,28.40,1248.0,74.00,5.0,4.75,10
5843,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,0,1,First,24.40,1120.0,71.00,5.0,4.00,9
5844,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,0,1,Second,14.00,2498.0,112.00,8.0,2.90,12
5845,Maruti Wagon R VXI,Kolkata,2013,46000,1,1,First,18.90,998.0,67.10,5.0,2.65,11
5846,Chevrolet Beat Diesel,Hyderabad,2011,47000,0,1,First,25.44,936.0,57.60,5.0,2.50,13

In [32]:
import pandas as pd

# Load the dataset
df_cars = pd.read_csv('/Users/vinishashukla/Documents/PDS/PDS_Assignment/PDS_Assignment/Assignment-2/results/cars_current_age.csv')

# Select specific columns
selected_columns = df_cars[['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats', 'Price']]

# Filter rows based on condition
filtered_data = df_cars[df_cars['Fuel_Type'] == 'Petrol']

# Rename columns
renamed_columns = df_cars.rename(columns={'Transmission': 'TransType', 'Owner_Type': 'OwnerType'})

# Mutate (create) a new column based on existing columns
df_cars['Power_per_Cylinder'] = df_cars['Power'] / df_cars['Seats']

# Arrange rows based on a column
sorted_data = df_cars.sort_values(by='Year', ascending=False)

# Summarize data using group by operation
grouped_data = df_cars.groupby('Location').agg({'Price': 'mean', 'Kilometers_Driven': 'sum'})

# Display the results
print("Selected Columns:")
print(selected_columns.head())

Selected Columns:
                               Name    Location  Year  Kilometers_Driven  \
0  Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
1                      Honda Jazz V     Chennai  2011              46000
2                 Maruti Ertiga VDI     Chennai  2012              87000
3   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670
4            Nissan Micra Diesel XV      Jaipur  2013              86999

   Fuel_Type  Transmission Owner_Type  Mileage  Engine   Power  Seats  Price
0          0             1      First    19.67  1582.0  126.20    5.0  12.50
1          1             1      First    13.00  1199.0   88.70    5.0   4.50
2          0             1      First    20.77  1248.0   88.76    7.0   6.00
3          0             0     Second    15.20  1968.0  140.80    5.0  17.74
4          0             1      First    23.08  1461.0   63.10    5.0   3.50

In [33]:
print("\nFiltered Data (Petrol only):")
print(filtered_data.head())

Filtered Data (Petrol only):
Empty DataFrame
Columns: [Name, Location, Year, Kilometers_Driven, Fuel_Type, Transmission, Owner_Type, Mileage, Engine, Power, Seats, Price, Current_Age]
Index: []

In [34]:
print("\nRenamed Columns:")
print(renamed_columns.head())

Renamed Columns:
                               Name    Location  Year  Kilometers_Driven  \
0  Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
1                      Honda Jazz V     Chennai  2011              46000
2                 Maruti Ertiga VDI     Chennai  2012              87000
3   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670
4            Nissan Micra Diesel XV      Jaipur  2013              86999

   Fuel_Type  TransType OwnerType  Mileage  Engine   Power  Seats  Price  \
0          0          1     First    19.67  1582.0  126.20    5.0  12.50
1          1          1     First    13.00  1199.0   88.70    5.0   4.50
2          0          1     First    20.77  1248.0   88.76    7.0   6.00
3          0          0    Second    15.20  1968.0  140.80    5.0  17.74
4          0          1     First    23.08  1461.0   63.10    5.0   3.50

   Current_Age
0            9
1           13
2           12
3           11
4           11

In [35]:
print("\nMutated Data (Added Power_per_Cylinder column):")
print(df_cars[['Power', 'Seats', 'Power_per_Cylinder']].head())

Mutated Data (Added Power_per_Cylinder column):
    Power  Seats  Power_per_Cylinder
0  126.20    5.0               25.24
1   88.70    5.0               17.74
2   88.76    7.0               12.68
3  140.80    5.0               28.16
4   63.10    5.0               12.62

In [36]:
print("\nSorted Data (Descending order of Year):")
print(sorted_data.head())

Sorted Data (Descending order of Year):
                                 Name    Location  Year  Kilometers_Driven  \
5405        Renault KWID RXT Optional       Kochi  2019               6568
942   Ford Endeavour 2.2 Trend AT 4X2       Kochi  2019              11209
5533        Maruti Omni 5 Seater BSIV  Coimbatore  2019               4721
770             Mahindra XUV500 W9 AT  Coimbatore  2019              19654
4267       Maruti Swift Dzire AMT ZDI     Chennai  2019              65000

      Fuel_Type  Transmission Owner_Type  Mileage  Engine  Power  Seats  \
5405          1             1      First    25.17   799.0   53.3    5.0
942           0             0      First    12.62  2198.0  158.0    7.0
5533          1             1      First    14.00   796.0   35.0    5.0
770           0             0      First    14.00  2179.0  155.0    7.0
4267          0             0      First    26.59  1248.0   74.0    5.0

      Price  Current_Age  Power_per_Cylinder
5405   5.09            5           10.660000
942   31.15            5           22.571429
5533   4.11            5            7.000000
770   17.63            5           22.142857
4267   6.75            5           14.800000

In [37]:
print("\nGrouped Data (Mean Price and Total Kilometers_Driven per Location):")
print(grouped_data.head())

Grouped Data (Mean Price and Total Kilometers_Driven per Location):
                Price  Kilometers_Driven
Location
Ahmedabad    8.567248           11984485
Bangalore   13.482670           20496207
Chennai      7.958340           43075555
Coimbatore  15.160206           29625311
Delhi        9.881944           30880339